#gameCanvas {
    background-color: mediumaquamarine;
    margin: auto;
    border: 5px solid aquamarine;
}

#XS, #OS {
    background-color: mediumaquamarine;
    border:5px solid aquamarine;
    vertical-align:top;
}

#XS{/*float:right;*/}
#OS{/*float:none;*/}

button{float:none;}

/*{outline:1px solid red;}*/