#gameCanvas {
    background-color: #CFE2DB;
    margin: auto;
    border: 2px solid chartreuse;
}

#XS, #OS {
    background-color: #CFE2DB;
    border:2px solid chartreuse;
    vertical-align:top;
}